name: Deploy to Web Server

on:
  push:
    branches:
      - '**'  # This will run the action on pushes to all branches

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Specify the Python version you need

    - name: Run make_index.py
      run: python tools/make_index.py

    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SERVER_SSH_KEY }}
        name: id_ed25519
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
        config: |
            Host lordylordy.org
                User gitdeploy
                IdentityFile ~/.ssh/id_ed25519

    - name: Set deployment path
      run: |
        # Extract branch name and sanitize it for use in file path
        BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | sed 's/[^a-zA-Z0-9._-]/-/g')
        echo "DEPLOY_PATH=/usr/share/caddy/code/$BRANCH_NAME" >> $GITHUB_ENV

    - name: Deploy to server
      run: |
        rsync -avvvz --delete ./ gitdeploy@lordylordy.org:${{ env.DEPLOY_PATH }}/

    - name: Output deployment information
      run: |
        echo "Deployed to: ${{ env.DEPLOY_PATH }}"
        echo "Branch: ${GITHUB_REF#refs/heads/}"
